body{
    height: 100%;
    background-color: rgb(93, 26, 155);
}

.DivPai{
    height: 400px;
    width: 400px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    background-color: rgb(22, 21, 21);
    gap: 30px;
    border-radius: 15px;
    box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.3);
}

.Titulo{
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.TituloUnderline{
    border: 3px solid rgb(93, 26, 155);
    border-radius: 10px;
    width: 60px;
}

.botao button{
    background-color: rgb(93, 26, 155);
    border-radius: 15px;
    width: 300px;
    
}

.DivInput input{
    outline: none;
    display: flex;
    border-radius: 15px;
    background-color: rgb(34, 32, 32);
    border: 1px solid rgb(34, 32, 32);
    height: 30px;
    width: 100%;
    padding: 7px;
    margin-left: 10px;
    
}

.DivInput{
    width: 100%;
    display: flex;
    flex-direction: row;
    border-radius: 15px;
    background-color: rgb(34, 32, 32);
    border: 1px solid rgb(34, 32, 32);
}

.IconInput{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.DivFormulario{
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    
    height: 150px;
    width: 350px;
}

.mensagemEmailInvalido{
    color: red;
    font-size: 11px;
    display: flex;
    align-items: start;
    margin-left: 15px;
}

